<div class="has-text-weight-light" id="path">
    <a href="/<%= host %>"><%= host %></a> /
    <a href="/<%= host %>/<%= user_name %>"><%= user_name %></a> /
    <a href="/<%= host %>/<%= user_name %>/<%= repo_name %>"><%= repo_name %></a> /
    source /
    <%= filepath %>
</div>
