<% title = "About Crystal Mine" %>
<h1>About Crystal Mine</h1>

Collecting and analyzing information about software written in the <a href="https://crystal-lang.org/">Crystal programming language</a>.
<a href="https://crystal-lang.org/"><img width="400" src="/crystal.png"></a>

<a href="https://github.com/szabgab/crystal-mine.cr">Source code</a>
