

<%= ECR.render("src/views/incl/source_navigation.ecr") %>

<ul>
    <%- entries.each do |entry| -%>
    <li><a href="/<%= host %>/<%= user_name %>/<%= repo_name %>/source/<%= filepath %><%= entry %>"><%= entry %></a></li>
    <%- end -%>
</ul>
