
<div class="has-text-weight-light" id="path"><%= host %>/<%= user_name %>/<%= repo_name %>/source/<%= filepath %></div>

<pre>
<% if image_path != "" %>
   <img src="<%= image_path %>" />
<% end %>

<% if file_content != "" %>
   <%= file_content %>
<% end %>
</pre>