
<%= ECR.render("src/views/incl/source_navigation.ecr") %>

<pre>
<% if image_path != "" %>
   <img src="<%= image_path %>" />
<% end %>

<% if file_content != "" %>
   <%= file_content %>
<% end %>
</pre>

<a href="/<%= host %>/<%= user_name %>/<%= repo_name %>/raw/<%= filepath %>">raw</a>

