<h1>Crystal Mine</h1>

<h2>Shards</h2>

<ul>
   <%- shards.each do |shard| -%>
   <li><a href="/<%= shard["host"] %>/<%= shard["user_name"] %>/<%= shard["repo_name"] %>"><%= shard["user_name"] %>/<%= shard["repo_name"] %></a> - <%= shard["name"] %></li>
   <%- end -%>
</ul>
